body{
	background:url(fraise-2.jpg) fixed;
    background-size: cover;
    
}
h1{
	color:white;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 2rem;
	font-weight: bold;
}
h2{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 90px;
}
/*-------------------------navbar------------------------------*/
.container-fluid{
	background-color:#490909;
	margin-top: 3rem;
	height: 5rem;
}
.navbar-toggler{
	border:1px solid white;
	background-color: gray;
	border-radius: 7px;
}
a.nav-link{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin: 15px;
	font-size:20px;
}
.navbar-nav{
	margin-left: 22rem;
}
a.nav-link:hover{
	color: white;
}
/*-------------------about--------------------*/
#about img{
	margin-left: 32rem;
	height: 576.035400390625px;
    width: 660px;
    left: 444px;
   top: 504px;
   border-radius: 10px;

}
.p-1{
	background-color: #f6e1c5;
	height: 400px;
    width: 535px;
    left: 132px;
   top: 567px;
    border-radius: 10px;
    margin-top: 6rem;
    margin-right: 6rem;

}
.t-1{
   text-align: center;
   color: black;

}
.t-2{
	color:gray;
}
#about button{
background-color:#7B261A;
border: 1px solid #7B261A;
margin-left: 12rem;
font-weight: bold;
height: 50px;
width: 150px;
border-radius: 5px;
}
#about{
	margin-right: 25rem;
	margin-top: 5rem;
}
#about p{
	margin-left: 1rem;
	margin-right: 1rem;
}
/*----------------------------promise------------------------*/
#promise{
	background-color:rgba(165, 52, 43, 0.69);
	margin-top: 7rem;

}
.Rectangle-44{
	background:url(Rectangle 44.png)no-repeat;
    width: 683px;
    height: 270px;
    border: 1px solid #F6E1C5;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15rem;
}
.col-12{
	margin-right: 18rem;
}
.p-2{
	background-color: #f6e1c5;
	height: 250.3797607421875px;
    width: 673px;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    margin-left: 0.3rem;
    border:1px solid #f6e1c5;
}
#promise h1{
	font-weight: bold;
	color: black;
}
#promise h2{
	color: gray;
	font-size: 40px;
}
#promise p{
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
/*--------------------footer------------------*/
#footer{
	margin-top: 6rem;
	background-color: #311919;
	color: white;
	text-align: center;
	height: 8rem;
}
#footer p{
	padding-top: 3rem;
}